devel/
logs/
build/
bin/
install/
log/
test/
venv/
.vscode/
.vscode/settings.json
__pycache__/
Otros/siguelinea/siguelinea/__init__.py
Otros/siguelinea/test/test_copyright.py
Otros/siguelinea/test/test_flake8.py
Otros/siguelinea/test/test_pep257.py
asti2024_ws/src/semifinal/semifinal/__pycache__/
asti2024_ws/src/semifinal/semifinal/__pycache__/misfunciones.cpython-38.pyc
asti2024_ws/src/semifinal/semifinal/__pycache__/laberinto.cpython-38.pyc
asti2024_ws/src/articubot_one/config/config.yaml
asti2024_ws/src/articubot_one/turtlebot/
asti2024_ws/src/articubot_one/Tutorials-2020-main/CMakeLists.txt
asti2024_ws/src/articubot_one/Tutorials-2020-main/config/joints.yaml
asti2024_ws/src/articubot_one/Tutorials-2020-main/launch/gazebo.launch
asti2024_ws/src/articubot_one/Tutorials-2020-main/package.xml
asti2024_ws/src/articubot_one/Tutorials-2020-main/README.md
asti2024_ws/src/articubot_one/Tutorials-2020-main/urdf/arm.xacro
asti2024_ws/src/articubot_one/Tutorials-2020-main/urdf/main.xacro
asti2024_ws/src/articubot_one/Tutorials-2020-main/urdf/head.xacro
asti2024_ws/src/articubot_one/Tutorials-2020-main/urdf/shrek.stl
